# Binaries
devops.exe
devops
*.exe
*.dll
*.so
*.dylib

# Logs
*.log
data/
jenkins/oa-feishu-jenkins/data/
feishu/pkg/handler/data/
oa/pkg/handler/data/
feishu/pkg/feishu/groupchat/data/

# Env
.env
config.yaml

# IDE
.vscode/
.idea/
